/* Error pages */

.error-page {
  position: relative;
  padding: 9.8rem 0;
  text-align: center;
}

.error-page:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #f3f6f9;
  content: attr(data-error);
  font-size: 40vw;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}
