<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: Reset password
  screenshotPath: ../../images/template-previews/membership-reset-password.png
-->
{% set template_css = "../../css/templates/membership.css" %}
{% extends "../layouts/base.html" %}

{% block header %}
{% endblock %}

{% block body %}
<section class="content-wrapper">
  <div class="membership-page membership-page--narrow">

    {% module "password_reset_heading"
      path="@hubspot/rich_text",
      html="<h1>Reset your password</h1><p>Enter a new password.</p>"
    %}


    <div class="form-container">
      {% password_reset "password_reset_form"
        password_confirm_label="Confirm password",
        password_label="Password",
        submit_button_text= "Save password"
      %}
    </div>

    {% module_block module "admin_contact"
      path="@hubspot/rich_text"
    %}
      {% module_attribute "html" %}
        <p>Having trouble? <a href="{{ "mailto:" ~ site_settings.membershipWebsiteAdmin }}">Contact the admin</a>.</p>
      {% end_module_attribute %}
    {% end_module_block %}

  </div>
</section>
{% endblock %}
