/* Heading */

.speaker-card__speaker-name,
.speaker-card__speaker-name *,
.speaker-card__speaker-name p,
.speaker-card__speaker-name h1,
.speaker-card__speaker-name h2,
.speaker-card__speaker-name h3,
.speaker-card__speaker-name h4,
.speaker-card__speaker-name h5,
.speaker-card__speaker-name h6,
.speaker-card__speaker-name a,
.speaker-card__speaker-name span,
.speaker-card__speaker-name div,
.speaker-card__speaker-name li,
.speaker-card__speaker-name blockquote {
  margin-bottom: 0;
}

.speaker-card__photo img {
  height: auto;
  width: 100%;
}

/* Title */
